test

assets/js/jquery-3.3.1.js
assets/js/dataTables.bootstrap.min.js
assets/css/dataTables.bootstrap.min.css
assets/css/dataTables.bootstrap4.min.css
assets/js/jquery.dataTables.min.js
assets/css/fontawesome.min.css
assets/css/datatables.min.css
